*{
    padding: 0;
    margin: 0;
}
/* Nav CSS starts */

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #FFFFFF;
    padding: 10px 30px;
}
.nav-ul a{
    text-decoration: none;
    color: #575757;
}
.nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}
.container{
    max-width: 1200px;
    margin: auto;
}
.common-btn{
    background-color: #1D4ED8;
    color: white;
    border-radius: 5px;
    padding: 6px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    border: none;
    
}
/* Nav css ends */

/* Hero css stars */


.hero-parent{
    background-image: url("banner.jpg");
    background-size: cover;
    width: 100%;
    height: 700px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hero-parent-first{
    padding: 50px 40px 0px 0px;
    font-size: 25px;
    font-weight: bolder;
}
.hero-parent-second{
    padding-top: 30px;
    width: 500px;    
}
.hero-parent-third{
    align-items: end;
    width: 100%;
    height: 100%;
    padding-top: 430px;
}
.hero-parent-third button{
    padding: 15px 40px;
    font-size: 20px;
}
/* Hero css ends */

/* Meet speakers starts */

.meet-speakers-parent img{
    width: 500px;
    height: 324px;
    margin: 30px;
}
.meet-speakers-parent-all{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    grid-row: 400px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.meet-speakers-parent h2{
    text-align: center;
    padding-top: 38px;
}
.text{
    padding-left: 32px;
}
.text-color{
    color: #2563EB;
}

/* Meet speakers ends */

/* Secure Card starts */
.secure-your-spot{
    text-align: center;
    margin: 150px;
    
}
.secure-your-spot h2{
    padding-top: 8px;
}
.secure-your-spot-card{
    display: flex;
    justify-content: space-between;
    padding-inline: 150px;
    gap: 15px;
    width: 850px;
    height: 450px;
    align-items: center;
    text-align: left;
    padding-top: 30px;
    
}
.secure-your-spot-card-01{
    border: 5px solid white;
    height: 420px;
    width: 370.66px;
    border-radius: 10px;
    padding: 20px;
}
.secure-your-spot-card-02{
    border: 2px solid white;
    height: 420px;
    width: 370.66px;
    background-color: #0D1B2A;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 20px;
} 
.secure-your-spot-card-03{
    border: 2px solid white;
    height: 420px;
    width: 370.66px;
    border-radius: 10px;
    padding: 20px;
}
.secure-your-spot-card ul{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.secure-your-spot-card hr{
    margin-top: 20px;
}
.secure-your-spot-card button{
    height: 45px;
    width: 250px;
    border-radius: 8px;
    margin: 45px 2px 2px 10px;
    cursor: pointer;
}
/* Secure Card ends */

/* faq starts */
.faq-parent{
    text-align: center;
    padding-top: 30px;
    align-items: center;
    }
.faq-parent h1{
    padding: 5px;
}    
.faq-child{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    padding: 20px;
}
.faq-card{
    padding: 20px;
}
.faq-card-line{
    width: 50px;
    margin: auto;
    border: none;
    height: 2px;
    background-color: #2563EB;
}
.faq-icon{
    color: #2563EB;
}
/* faq ends */

/* footer starts */

.footer-parent{
    background-color: #0D1B2A;
    color: #FFFFFF;
    text-decoration: none;
    height: 200px;


}
.footer-child{
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    margin-left: 150px;
    height: 70px;
    margin-top: 30px;
}
.footer-contact{
    margin-right: 150px;
    height: 70px;
    margin-top: 30px;
    display: flex;
    gap: 14px;

}
.footer-logo-name{
    display: flex;
    gap: 3px;
}.footer-contact-icon{
    color: #FFFFFF;
    padding-top: 20px;
    
}
footer hr{
    margin-top: 20px;
}
.footer-copy-right-parent{
    display: flex;
    justify-content: space-between;
    
}
.footer-copy-right-child{
    margin: 20px 5px 60px 150px;
}
.footer-copy-right-policy ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 60px;
    
}